<!-- User Header Module -->
<!DOCTYPE html>

<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1" name="description" content="Deliciousness">
    <link rel="icon" type="image/png" href="./images/cornIcon.jpg" size="55x31" >
    <link rel='stylesheet' type='text/css' href='./stylesheets/mai.css' />
    <title>Corny Site</title>
</head>

<body>

    <div class="containerheader">

        <a href="/" id="cornLogo"><img src="./images/cornIcon.jpg" width="70rem" height="70rem" alt="" title="Corn logo"> </a>
        <ul>
        <li><a href="#">ABOUT</a></li>
        <li><a href="/menu">SHOP</a></li>
        <li><a href="#">CONTACT US</a></li>
        <li><a href="#">CART</a></li>
        </ul>
        <p>&copy; All rights reserved. Images by <a href="https://www.facebook.com/profile.php?id=100014713545372" > Angel Haro  </a></p>
    </div>

    <div class="spacer11"> <img src="./images/cb1.png"></div>
    <div class="bg-image img1"></div>
    <div class="spacer11"><img src="./images/cb2.png" width="100%"></div>
    <div class="bg-image img2"></div>
    <div class="spacer"></div>
    <div class="bg-image img3"></div>
    <div class="spacer"></div>
    <div class="bg-image img4"></div>

    <div class="bg-textxxxx">.</div>


    <hr class="horizontalRule" />